<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

<header class="bg-gray-50 h-42">
    <div class="mx-auto max-w-screen-xl px-4 py-8 max-sm:px-6 sm:py-12 lg:px-8">
        <div class="sm:flex sm:items-center sm:justify-center">
            <div class="text-center sm:text-left">
                <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl text-center">
                    Mulai Skrining
                </h1>

                <p class="mt-1.5 text-sm text-gray-500">
                    Isilah form berikut dengan sesuai ya!
                </p>
            </div>
        </div>
    </div>
</header>
<div class="flex bg-white flex-col justify-items-center h-screen overflow-y-auto">
    <div class="grid grid-cols-1 pt-8">
        <ul class="steps">
            <li class="step step-accent text-gray-600">Isi data diri</li>
            <li [ngClass]="!skrining ? '' : 'step-accent'" class="step text-gray-600">Skrining</li>
        </ul>
    </div>
    <div class="flex justify-center items-center gap-4 py-8">
        <button (click)="ddChange()" class="btn btn-accent">Data Diri</button>
        <button (click)="skringingChange()" class="btn btn-accent">Skrining</button>
    </div>
    <div class="relative isolate  lg:px-8">
       <div [ngClass]="datadiri ? '' : 'hidden'" class="flex flex-col ">
             <div class="px-20">
                <label for="nama" class="mb-2 inline-block text-gray-500">Nama Lengkap</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="text"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
                        placeholder="Name" aria-label="Username" aria-describedby="basic-addon1" />
                </div>
                <label for="alamat" class="mb-2 inline-block text-gray-500">Alamat</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="text"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
                        placeholder="Address" aria-label="Address" aria-describedby="basic-addon1" />
                </div>
                <label for="nik" class="mb-2 inline-block text-gray-500">NIK</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="text"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
                        placeholder="NIK" aria-label="nik" aria-describedby="basic-addon1" />
                </div>
                <label for="pekerjaan" class="mb-2 inline-block text-gray-500">Pekerjaan (Perusahaan)</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="text"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
                        placeholder="Pekerjaan" aria-label="pekerjaan" aria-describedby="basic-addon1" />
                </div>

                <div class="grid grid-cols-1 lg:grid-cols-2">
                    <div class="w-2/2 lg:w-1/2">
                        <label for="lahir" class="mb-2 inline-block text-gray-500">Tanggal Lahir</label>
                        <div class="relative mb-4 flex flex-wrap items-stretch">
                            <input type="date"
                                class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
                                placeholder="lahir" aria-label="lahir" aria-describedby="basic-addon1" />
                        </div>
                    </div>
                    <div class="w-2/2 lg:w-1/2">
                        <label for="kelamin" class="mb-2 inline-block text-gray-500">Jenis Kelamin</label>
                        <div class="relative mb-4 gap-4 flex flex-wrap items-stretch">
                            <input type="radio" name="radio-4" class="radio radio-accent"  /> Laki-laki
                            <input type="radio" name="radio-4" class="radio radio-accent" />Perempuan
                        </div>
                    </div>
                </div>
                <label for="no" class="mb-2 inline-block text-gray-500">No HP</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="text"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
                        placeholder="no" aria-label="no" aria-describedby="basic-addon1" />
                </div>
                <label for="email" class="mb-2 inline-block text-gray-500">Email</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="email"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
                        placeholder="email@email.com" aria-label="email" aria-describedby="basic-addon1" />
                </div>

            </div> 
            
        </div>
        <div  [ngClass]="skrining ? '' : 'hidden'" class="flex flex-col justify-items-center ">
            <h1 class="text-center font-bold text-gray-600 text-2xl pb-8">SKRINING GEJALA</h1>
            <label for="email" class="mb-2 inline-block text-center text-gray-600 text-xl font-bold">Gejala Utama</label>
            <div class="grid grid-cols-2 py-4 justify-end lg:px-96 max-sm:px-6">
                <div class="w-full">
                    Batuk (Semua batuk tanpa melihat durasi)
                </div>
                <div class="w-full relative mb-4 gap-4 flex flex-wrap justify-end">
                    <input type="radio" name="utama" class="radio radio-accent"  /> Ya
                    <input type="radio" name="utama" class="radio radio-accent" />Tidak
                </div>
            </div>
            <label for="email" class="mb-2 inline-block text-center text-gray-600 text-xl font-bold">Gejala Tambahan</label>
            <div class="grid grid-cols-2 py-4 justify-end lg:px-96 max-sm:px-6">
                <div class="w-full">
                    BB Turun tanpa penyebab jelas/BB tidak naik/nafsu makan turun
                </div>
                <div class="w-full relative mb-4 gap-4 flex flex-wrap justify-end">
                    <input type="radio" name="bb" class="radio radio-accent"  /> Ya
                    <input type="radio" name="bb" class="radio radio-accent" />Tidak
                </div>
            </div>
            <div class="grid grid-cols-2 py-4 justify-end lg:px-96 max-sm:px-6">
                <div class="w-full">
                    Demam yang tidak diketahui penyebabnya
                </div>
                <div class="w-full relative mb-4 gap-4 flex flex-wrap justify-end">
                    <input type="radio" name="demam" class="radio radio-accent"  /> Ya
                    <input type="radio" name="demam" class="radio radio-accent" />Tidak
                </div>
            </div>
            <div class="grid grid-cols-2 py-4 justify-end lg:px-96 max-sm:px-6">
                <div class="w-full">
                    Badan lemas/lesu
                </div>
                <div class="w-full relative mb-4 gap-4 flex flex-wrap justify-end">
                    <input type="radio" name="lemas" class="radio radio-accent"  /> Ya
                    <input type="radio" name="lemas" class="radio radio-accent" />Tidak
                </div>
            </div>
            <div class="grid grid-cols-2 py-4 justify-end lg:px-96 max-sm:px-6">
                <div class="w-full">
                    Berkeringat malam hari tanpa kegiatan
                </div>
                <div class="w-full relative mb-4 gap-4 flex flex-wrap justify-end">
                    <input type="radio" name="keringat" class="radio radio-accent"  /> Ya
                    <input type="radio" name="keringat" class="radio radio-accent" />Tidak
                </div>
            </div>
            <div class="grid grid-cols-2 py-4 justify-end lg:px-96 max-sm:px-6">
                <div class="w-full">
                    Sesak napas tanpa nyeri dada
                </div>
                <div class="w-full relative mb-4 gap-4 flex flex-wrap justify-end">
                    <input type="radio" name="nyeri" class="radio radio-accent"  /> Ya
                    <input type="radio" name="nyeri" class="radio radio-accent" />Tidak
                </div>
            </div>
            <div class="grid grid-cols-2 py-4 justify-end lg:px-96 max-sm:px-6">
                <div class="w-full">
                    Ada pembesaran getah bening di leher atau ketiak
                </div>
                <div class="w-full relative mb-4 gap-4 flex flex-wrap justify-end">
                    <input type="radio" name="getah" class="radio radio-accent"  /> Ya
                    <input type="radio" name="getah" class="radio radio-accent" />Tidak
                </div>
            </div>
            <div class="grid grid-cols-1 py-4 justify-end lg:px-96 max-sm:px-6">
                <div class="w-full py-2 text-gray-600">
                    Lainnya(Sebutkan)
                </div>
                <input type="text" placeholder="Gejala lain" class="py-2 input input-bordered input-lg w-full" />
            </div>
        </div>
        <div [ngClass]="skrining ? '' : 'hidden'" class="flex justify-center items-center gap-4 py-8">
            <button routerLink="/hasil" class="btn btn-accent">Submit</button>
        </div>
    </div>
</div>