<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

<header class="bg-gray-50 h-42">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
        <div class="sm:flex sm:items-center sm:justify-center">
            <div class="text-center sm:text-left">
                <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl text-center">
                    TBC Skrining
                </h1>

                <p class="mt-1.5 text-sm text-gray-500">
                    Ayo mulai lakukan skrining sejak dini untuk gejala TBC!
                </p>
            </div>
        </div>
    </div>
</header>
<div class="bg-white h-screen">
    <div class="grid grid-cols-1 pt-8">
        <ul class="steps">
            <li class="step step-primary text-gray-600">Isi data diri</li>
            <li class="step text-gray-600">Skrining</li>
        </ul>
    </div>
    <div class="relative isolate pt-24 lg:px-8">
        <div class="flex flex-col ">
            <div class="px-20">
                <label for="nama" class="mb-2 inline-block text-gray-500">Nama Lengkap</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="text"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                        placeholder="Name" aria-label="Username" aria-describedby="basic-addon1" />
                </div>
                <label for="alamat" class="mb-2 inline-block text-gray-500">Alamat</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="text"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                        placeholder="Address" aria-label="Address" aria-describedby="basic-addon1" />
                </div>
                <label for="nik" class="mb-2 inline-block text-gray-500">NIK</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="text"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                        placeholder="NIK" aria-label="nik" aria-describedby="basic-addon1" />
                </div>
                <label for="pekerjaan" class="mb-2 inline-block text-gray-500">Pekerjaan</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="text"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                        placeholder="Pekerjaan" aria-label="pekerjaan" aria-describedby="basic-addon1" />
                </div>

                <div class="grid grid-cols-2">
                    <div class="w-1/2">
                        <label for="lahir" class="mb-2 inline-block text-gray-500">Tanggal Lahir</label>
                        <div class="relative mb-4 flex flex-wrap items-stretch">
                            <input type="date"
                                class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                                placeholder="lahir" aria-label="lahir" aria-describedby="basic-addon1" />
                        </div>
                    </div>
                    <div class="w-1/2">
                        <label for="kelamin" class="mb-2 inline-block text-gray-500">Jenis Kelamin</label>
                        <div class="relative mb-4 flex flex-wrap items-stretch">
                            <input type="Text"
                                class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                                placeholder="kelamin" aria-label="kelamin" aria-describedby="basic-addon1" />
                        </div>
                    </div>
                </div>
                <label for="no" class="mb-2 inline-block text-gray-500">No HP</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="text"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                        placeholder="no" aria-label="no" aria-describedby="basic-addon1" />
                </div>
                <label for="email" class="mb-2 inline-block text-gray-500">Email</label>
                <div class="relative mb-4 flex flex-wrap items-stretch">
                    <input type="email"
                        class="relative m-0 block w-[1px] min-w-0 flex-auto rounded border border-solid border-gray-500 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-gray-500 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-gray-500 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                        placeholder="email@email.com" aria-label="email" aria-describedby="basic-addon1" />
                </div>

            </div>
        </div>
    </div>