<footer class="footer p-10 bg-base-200 text-base-content">
    <aside>
      <img src="./../../../assets/img/tbclogo.jpeg" height="80" width="80" alt="">
    </aside> 
    <nav>
      <header class="footer-title">Pages</header> 
      <a class="link link-hover">Home</a> 
      <a class="link link-hover">Skrining</a> 
    </nav> 
    <!-- <nav>
      <header class="footer-title">Company</header> 
      <a class="link link-hover">About us</a> 
      <a class="link link-hover">Contact</a> 
      <a class="link link-hover">Jobs</a> 
      <a class="link link-hover">Press kit</a>
    </nav> 
    <nav>
      <header class="footer-title">Legal</header> 
      <a class="link link-hover">Terms of use</a> 
      <a class="link link-hover">Privacy policy</a> 
      <a class="link link-hover">Cookie policy</a>
    </nav> -->
  </footer>